  <li id="<%= dom_id album %>" 
      data-target="search_results"
      class="odd:bg-slate-200 even:bg-white dark:odd:bg-gray-800 dark:even:bg-slate-900 transition-colors duration-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white">
    <section class="grid grid-cols-6 gap-4 text-sm p-2">
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= link_to album.title, admin_album_path(album) %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= album&.images.size.presence || 0 %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= album.status %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= album.published_at.strftime('%d-%m-%y') %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= album.date_event.strftime('%d-%m-%y') %>
      </div>
      <div class="flex-1 flex justify-end items-center text-lg py-4 px-2 gap-4">
        <% if action_name != "show" %>
          <%= link_to "Show", admin_album_path(album), class: "rounded-lg py-2 px-4 bg-blue-500 text-white inline-block font-medium transition-colors duration-500 hover:bg-blue-600" %>
          <%= link_to 'Edit', edit_admin_album_path(album), class: "rounded-lg py-2 ml-2 px-4 bg-blue-500 text-white inline-block font-medium transition-colors duration-500 hover:bg-blue-600" %>
        <% end %>
      </div>
    </section>
  </li>