<aside class="flex flex-col items-center w-1/12 min-h-screen overflow-hidden text-gray-400 bg-gray-900 dark:bg-gray-200 transition-colors duration-200 ease-in-out px-2">
  <!--LOGO--->
  <div class="w-full h-16 flex justify-center items-center content-center">
    <%= link_to inline_svg_tag('icons/form/email.svg', class: 'w-12 h-12'), 
                root_path, 
                class: 'flex items-center justify-center my-3' %>
  </div>
  <!---LINK OPTIONS-->
  <div class="w-full flex flex-col items-center border-t border-gray-700 gap-8">
    <%= active_link_to 'Inicio', root_path, class: 'nav-link w-full py-2 text-center' %>
    <%= active_link_to 'Albums', admin_albums_path, class: 'nav-link w-full py-2 text-center' %>
    <%= active_link_to 'Categories', admin_categories_path, class: 'nav-link w-full py-2 text-center' %>
    <%= active_link_to 'Products', admin_products_path, class: 'nav-link w-full py-2 text-center' %>
    <%= active_link_to 'Contacts', admin_contacts_path, class: 'nav-link w-full py-2 text-center' %>
  </div>
  <div class="w-full fixed top-2 right-[40%] flex justify-end md:hidden z-10">
    <button class="w-10 ml-5 group focus:outline-none">
      <div class="rounded-xl bg-black h-1 w-8 my-1 relative top-2 rotate-45 "></div>
      <div class=""></div>
      <div class="rounded-xl bg-black h-1 w-8 my-1 relative -rotate-45"></div>
    </button>
  </div>
</aside>
