<h1>Informe de Importación de ActiveStorage desde CSV</h1>

<p>Proceso: <%= @info.dig(:process_name) %></p>
<p>Finalizó en: <%= @info.dig(:end_time) %></p>
<p>Entorno: <%= @info.dig(:environment) %></p>
<p>Versión de Ruby: <%= @info.dig(:ruby_version) %></p>
<p>Versión de Rails: <%= @info.dig(:rails_version) %></p>
<p>Usuario: <%= @info.dig(:user) %></p>
<p>Host: <%= @info.dig(:host_info) %></p>

<h2>Blobs no procesados</h2>
<% if @info[:skipped_blobs]&.any? %>
  <ul>
    <% @info[:skipped_blobs].each do |blob| %>
      <li>
        Key: <%= blob.dig(:blob_data, :key) %> 
        <% if blob[:error] %>
          || Error: <%= blob[:error] %> 
          <ul>
            <li>Nombre de archivo: <%= blob.dig(:blob_data, :filename) %></li>
            <li>Tipo de contenido: <%= blob.dig(:blob_data, :content_type) %></li>
            <li>Metadata: <%= blob.dig(:blob_data, :metadata).inspect %></li>
            <li>Nombre del servicio: <%= blob.dig(:blob_data, :service_name) %></li>
            <li>Tamaño en bytes: <%= blob.dig(:blob_data, :byte_size) %></li>
            <li>Checksum: <%= blob.dig(:blob_data, :checksum) %></li>
            <li>Creado en: <%= blob.dig(:blob_data, :created_at) %></li>
          </ul>
        <% else %>
          (ID: <%= blob.dig(:blob_data, :id) %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif @info.dig(:error_row)&.present? %>
  <p>Se han encontrado los siguientes errores: </p>
  <%= @info.dig(:error_row) %>
<% else %>
  <p>No hay blobs que se hayan omitido.</p>
<% end %>

<% unless @exception.nil? %>
  <p> La tarea ha fallado por la siguiente excepción/es: </p>
  <%= @exception %>
  <p> Puedes seguir el backtrace en los siguientes logs: </p>
  <%= @backtrace %>
<% end %>
