<!-- app/views/process_mailer/process_completion.html.erb -->
<h1>Informe de Importaci贸n de ActiveStorage desde CSV</h1>

<p>Proceso: <%= @info[:process_name] %></p>
<p>Finaliz贸 en: <%= @info[:end_time] %></p>
<p>Entorno: <%= @info[:environment] %></p>
<p>Versi贸n de Ruby: <%= @info[:ruby_version] %></p>
<p>Versi贸n de Rails: <%= @info[:rails_version] %></p>
<p>Usuario: <%= @info[:user] %></p>
<p>Host: <%= @info[:host_info] %></p>

<h2>Blobs no procesados</h2>
<% if @info[:skipped_blobs].any? %>
  <ul>
    <% @info[:skipped_blobs].each do |blob| %>
      <li><%= blob["key"] %> (ID: <%= blob["id"] %>)</li>
    <% end %>
  </ul>
<% else %>
  <p>No hay blobs que se hayan omitido.</p>
<% end %>
