  <li id="<%= dom_id category %>" 
      data-target="search_results"
      class="odd:bg-slate-200 even:bg-white dark:odd:bg-gray-800 dark:even:bg-slate-900 transition-colors duration-500 hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white">
    <section class="grid grid-cols-6 gap-4 text-sm p-2">
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= category.icon %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= link_to category.name, admin_category_path(category) %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= category.parent %>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= category.level%>
      </div>
      <div class="flex-1 flex justify-start items-center  text-lg py-4 px-2">
        <%= form_with(model: [:admin, category], method: :patch, local: true) do |form| %>
          <label class="relative inline-flex items-center cursor-pointer">
            <%= form.check_box :main, 
                class: "sr-only peer", 
                checked: category.main, 
                onchange: 'this.form.submit()' %>
            <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"><%= category.main ? 'principal' : 'secundaria' %></span>
          </label>
        <% end %>
      </div>
      <div class="flex-1 flex justify-end items-center text-lg py-4 px-2 gap-4">
        <% if action_name != "show" %>
          <%= link_to 'Edit', edit_admin_category_path(category), class: "rounded-lg py-2 ml-2 px-4 bg-blue-500 text-white inline-block font-medium transition-colors duration-500 hover:bg-blue-600" %>
          <%= button_to 'Delete', admin_category_path(category), form: { data: { turbo_confirm: 'Are you sure?' } }, method: :delete, class: "rounded-lg py-2 ml-2 px-4 bg-red-500 text-white inline-block font-medium transition-colors duration-500 hover:bg-red-600" %>
        <% end %>
      </div>
    </section>
  </li>

