<%= form_with(model: [:admin, product], html: { data: {controller: 'image-preview'}, class: "contents"}) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.all.map {|c| [c.name, c.id]}, {include_blank: 'Please select a category'}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>

  </div>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :pvp %>
    <%= form.number_field :pvp, placeholder: 'EJ: 675.00', step: 0.01, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>


  <div class="my-5">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :meta_tags %>
    <%= form.text_field :meta_tags, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="w-full flex justify-center items-center bg-slate-50">
    <label class="flex flex-col justify-center items-center tracking-wide uppercase cursor-pointer">
      <% if form.object.images.attached? %>
        <!-- for edit form when image is attached to a product -->
        <div class="flex flex-wrap justify-between items-center" data-image-preview-target="preview">
          <% form.object.images.each do |image|%>
            <%= image_tag(image, data: { 'image-preview-target': 'image'}, class: 'w-64 h-64 object-cover') %>
            <%= inline_svg_tag('icons/form/image.svg', data: { 'image-preview-target': 'svg'}, class:'w-64 h-64 text-slate-300 hidden') %>
          <% end %>
        </div>
      <% else %>
        <!-- for new form when image is not attached to a product -->
        <div data-image-preview-target="preview">
          <%= image_tag('icons/form/image.svg', data: { 'image-preview-target': 'image'}, class: 'w-64 h-64 object-cover hidden') %>
          <%= inline_svg_tag('icons/form/image.svg', data: { 'image-preview-target': 'svg'}, class:'w-64 h-64 text-slate-300 hidden') %>
        </div>
      <% end %>
      <span class="mt-2 text-lg text-slate-500 "><%= t('.add_image') %></span>
      <span class="mt-2 text-lg text-slate-500 hidden" data-image-preview-target="message"></span>
      <%= form.file_field :images, multiple: true, include_hidden: false, class: 'hidden', data: { 'image-preview-target': 'input', action: 'change->image-preview#previewImage' } %>
    </label>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
