<div class="p-4">
  <div class="rounded overflow-hidden shadow-lg">
    <div id="product-carousel" class="relative w-full" data-controller="carousel">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <% if product.images.attached? %>
          <% product.images.each_with_index do |image, index| %>
            <!-- Item -->
            <div class="<%= 'hidden' unless index == 0 %> duration-700 ease-in-out" data-carousel-target="item">
              <picture>
                <source media="(min-width: 1280px)" 
                        srcset="<%= rails_representation_url(image.variant(resize: "1024x768")) %>">
                <source media="(min-width: 1024px)" 
                        srcset="<%= rails_representation_url(image.variant(resize: "768x576")) %>">
                <source media="(min-width: 640px)" 
                        srcset="<%= rails_representation_url(image.variant(resize: "640x480")) %>">
                <!-- The default image that will be used if none of the above sources are valid -->
                <img src="<%= rails_representation_url(image.variant(resize: "1536x1152")) %>" 
                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" 
                    alt="...">
              </picture>
            </div>
          <% end %>
        <% end %>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
          <% product.images.each_with_index do |image, index| %>
          <button type="button" class="w-3 h-3 rounded-full" aria-current="<%= index == 0 %>" aria-label="Slide <%= index + 1 %>" data-action="click->carousel#slideTo" data-slide-to="<%= index %>"></button>
          <% end %>
      </div>
      <!-- Slider controls -->
      <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-action="click->carousel#prev">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-left-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 1 .324 19.995l-.324 .005l-.324 -.005a10 10 0 0 1 .324 -19.995zm.707 5.293a1 1 0 0 0 -1.414 0l-4 4a1.048 1.048 0 0 0 -.083 .094l-.064 .092l-.052 .098l-.044 .11l-.03 .112l-.017 .126l-.003 .075l.004 .09l.007 .058l.025 .118l.035 .105l.054 .113l.043 .07l.071 .095l.054 .058l4 4l.094 .083a1 1 0 0 0 1.32 -1.497l-2.292 -2.293h5.585l.117 -.007a1 1 0 0 0 -.117 -1.993h-5.586l2.293 -2.293l.083 -.094a1 1 0 0 0 -.083 -1.32z" stroke-width="0" fill="currentColor"></path>
          </svg>
      </button>
      <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-action="click->carousel#next">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-arrow-right-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2l.324 .005a10 10 0 1 1 -.648 0l.324 -.005zm.613 5.21a1 1 0 0 0 -1.32 1.497l2.291 2.293h-5.584l-.117 .007a1 1 0 0 0 .117 1.993h5.584l-2.291 2.293l-.083 .094a1 1 0 0 0 1.497 1.32l4 -4l.073 -.082l.064 -.089l.062 -.113l.044 -.11l.03 -.112l.017 -.126l.003 -.075l-.007 -.118l-.029 -.148l-.035 -.105l-.054 -.113l-.071 -.111a1.008 1.008 0 0 0 -.097 -.112l-4 -4z" stroke-width="0" fill="currentColor"></path>
          </svg>
      </button>
    </div>

    <div class="flex flex-col justify-between items-center gap-4">
      <div class="w-full flex justify-between items-center gap-8 px-6 py-2">
        <div class="font-bold text-xl"><%= product.name %></div>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">
          <%= number_to_currency product.price/100, precision: 2 %>
        </span>
      </div>
      <div class="w-full pb-10 px-6">
        <%= product.description.body.to_html.html_safe %>
      </div>
    </div>
  </div>
</div>

<% if action_name != "show" && 1 == 0 %>
  <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
<% end %>




  <% if action_name != "show" && 1 == 0 %>
    <%= link_to "Show this product", product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this product', edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
