<!DOCTYPE html>
<html>
  <head>
    <title>Gramoladiscomobil</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

 <body>
    <main class="w-full flex justify-between" data-controller="toogle">
      <% flash.each do |type, data| %>
        <%= render(NotificationComponent.new(type: type, data: data)) %>
      <% end %>
      <%= render 'layouts/shared/aside_nav' if user_signed_in? %>
      <div class="w-full flex flex-col">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
